<div class="fixed-top d-flex align-items-center header header-transparent" >
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a>LOGO</a></h1>
        </div>

        <nav id="navbar" class="navbar ">
            <ul>
                <li><a class="nav-link scrollto" routerLink="index">Ana Sayfa</a></li>
                <li><a class="nav-link scrollto">Kurumsal</a></li>
                <li><a class="nav-link scrollto" routerLink="about">Hakkımızda</a></li>
                <li><a class="nav-link scrollto" routerLink="portfolio">Ürünlerimiz</a></li>
                <!-- <li><a class="nav-link scrollto">Sertifaklarımız</a></li> -->
                <li><a class="nav-link scrollto">ihracat</a></li>
                <li><a class="nav-link scrollto" routerLink="contact">İletişim</a></li>
                <!-- <li><a class="nav-link scrollto">Services</a></li> -->
                <!-- <li><a class="nav-link scrollto">Team</a></li> -->
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</div>