<!-- ======= Portfolio Section ======= -->
<section class="portfolio bg ">
    <div class="container" style="margin-top: 25px;">
        <div class="row">
            <div class="col-12">
                <div class="col-lg-6 col-md-6 portfolio-item filter-app">
                    <mat-card class="card-bg example">
                        <button mat-button style="width: 100%;" routerLink="/portfolio-detail">
                            <div class="portfolio-img"><img src="../../../assets/images/portfolio/pazarlama.jpg" class="img-fluid"
                                    width="70%" alt="">
                            </div>
                        </button>
                    </mat-card>
                    <div class="col-lg-6 col-md-6">
                        <div class="title">
                            <h1 class="animate__animated animate__fadeInDown myfirst" style="margin-top: 25px;"><span>Süprem</span></h1>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <mat-card class="card-bg example">
                        <button mat-button style="width: 100%;">
                            <div class="portfolio-img"><img src="../../../assets/images/portfolio/danismanlik.jpg" width="100%"
                                    class="img-fluid" alt="">
                            </div>
                            <div class="title">
                                <h1 class="animate__animated animate__fadeInDown myfirst" style="margin-top: 25px;"><span>Danışmanlık</span>
                                </h1>
                            </div>
                        </button>
                    </mat-card>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <mat-card class="card-bg example">
                        <button mat-button style="width: 100%;">
                            <div class="portfolio-img"><img src="../../../assets/images/portfolio/ithalat.jpg" width="100%"
                                    class="img-fluid" alt=""></div>
                            <div class="title">
                                <h1 class="animate__animated animate__fadeInDown myfirst" style="margin-top: 25px;"><span>İthalat</span>
                                </h1>
                            </div>
                        </button>
                    </mat-card>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <mat-card class="card-bg example">
                        <button mat-button style="width: 100%;">
                            <div class="portfolio-img"><img src="../../../assets/images/portfolio/ihracat.jpg" width="100%"
                                    class="img-fluid" alt=""></div>
                            <div class="title">
                                <h1 class="animate__animated animate__fadeInDown myfirst" style="margin-top: 25px;"><span>İhracat</span>
                                </h1>
                            </div>
                        </button>
                    </mat-card>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <mat-card class="card-bg example">
                        <button mat-button style="width: 100%;">
                            <div class="portfolio-img"><img src="../../../assets/images/portfolio/tekstil.jpg" width="100%"
                                    class="img-fluid" alt=""></div>
                            <div class="title">
                                <h1 class="animate__animated animate__fadeInDown myfirst" style="margin-top: 25px;"><span>TEKSTİL</span>
                                </h1>
                            </div>
                        </button>
                    </mat-card>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <mat-card class="card-bg example">
                        <button mat-button style="width: 100%;">
                            <div class="portfolio-img"><img src="../../../assets/images/portfolio/yedekparca.jpg" width="100%"
                                    class="img-fluid" alt="">
                            </div>
                            <div class="title">
                                <h1 class="animate__animated animate__fadeInDown myfirst" style="margin-top: 25px;"><span>Yedek Parça</span>
                                </h1>
                            </div>
                        </button>
                    </mat-card>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <mat-card class="card-bg example">
                        <button mat-button style="width: 100%;">
                            <div class="portfolio-img"><img src="../../../assets/images/portfolio/madencilik.jpg" width="100%"
                                    class="img-fluid" alt="">
                            </div>
                            <div class="title">
                                <h1 class="animate__animated animate__fadeInDown myfirst" style="margin-top: 25px;"><span>MADENCİLİK</span>
                                </h1>
                            </div>
                        </button>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</section>