<!-- ======= Portfolio Section ======= -->
<section class="portfolio bg ">
  <div class="container">
    <div class="row">

      <div class="section-title col-6">
        <h2>Ürünlerimiz</h2>
        <h3>Üretimini yaptığımız tüm kumaş çeşitlerimizi ilgili sayfalarından inceleyebilir ve detaylı bilgi alabilirsiniz.</h3>
        <button mat-stroked-button class="btn btn-primary float-end col-6 m-4" routerLink="/portfolio">
          Ürünlerimiz
        </button>
      </div>

      <div class="section-title col-6">
        <div class="portfolio-img"><img src="../../../assets/images/triko-kumas-nedir-2.jpg" class="img-fluid" style="border-radius: 10px;"
            width="100%" alt="">
        </div>

        <!-- End Portfolio Section -->