
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}


.bg {
    background-color: rgba(113, 88, 226,0.6) !important;
    color: white;
    height: 80%;
    display: flex;
    align-items: center;
}

h3 {
    margin-top: 15px;
    color: rgba(44, 62, 80);
    font-weight: 400;
}

button {
    height: 60px;
    font-size: 28px;
}
